{% extends "slews/base.html" %}
{% load static %}
{% block body_block %}

<head>
  <link href="{% static "css/gauge.css" %}" rel="stylesheet">
</head>

<div class="container-fluid">
  <div class="row">
    <!-- <span class="border border-dark"></span> -->
    <!-- <main class="col-md-2 ms-sm-auto col-lg-2x px-md-4">
    </main> -->
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>
    </span>
     <main class="col-md-10 ms-sm-auto col-lg-10x px-md-4">
      <div class="row featurette">
        <div class="col-md-6 order-md-1">
          <div class="container">
            <div class="guage-holder">
              <div class="circle-mask">
                <div class="circle">
                  <div class="circle-inner" id="c1"></div>
                </div>
              </div>
              <div class="percentage" id="p1">0 °C</div>
              <!-- <input type="text" class="text-box" placeholder="0%" /> -->
              <div class="gauge-copy" id="g1"></div>
            </div>
          </div>
        </div>
<!-- hellow -->
        <div class="col-md-6 order-md-2">
          <div class="container">
            <div class="guage-holder">
              <div class="circle-mask">
                <div class="circle">
                  <div class="circle-inner" id="c2"></div>
                </div>
              </div>
              <div class="percentage" id="p2">0 %</div>
              <div class="gauge-copy" id="g2"></div>
            </div>
          </div>
        </div>
      </div>

      {{ nodeAc|json_script:"nodeAc" }}
      {{ nodeGy|json_script:"nodeGy" }}
      {{ nodeSo|json_script:"nodeSo" }}
      {{ nodeTe|json_script:"nodeTe" }}
      {{ nodeTeG|json_script:"nodeTeG" }}
      {{ nodeSoG|json_script:"nodeSoG" }}
      
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-6 order-md-1">
          <h3>Accelerometer</h3>
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <canvas class="my-4 w-80" id="AccelerometerChart" width="900" height="380"></canvas>
        </div>
        <div class="col-md-6 order-md-2">

          <h3>Gyro</h3>
          <canvas class="my-4 w-80" id="GyroChart" width="900" height="380"></canvas>
        </div>
      </div>

      <!-- <canvas class="my-4 w-100" id="myChart1" width="900" height="380"></canvas> -->

      <div class="row featurette">
        <div class="col-md-6 order-md-1">
          <h3>Temperature</h3>
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
          <canvas class="my-4 w-80" id="TemperatureChart" width="900" height="380"></canvas>
        </div>
        <div class="col-md-6 order-md-2">

          <h3>Soil Moisture</h3>
          <canvas class="my-4 w-80" id="SoilChart" width="900" height="380"></canvas>
        </div>
      </div>

      <hr class="featurette-divider">
    </main>
    
  </div>
</div>

{% endblock %}
