{% extends "slews/base.html" %}
{% load static %}

{% block body_block %}
<link href="{% static "css/carousel.css" %}" rel="stylesheet">

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img1" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <!-- <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p> -->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img2" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>

        <div class="container">
          <div class="carousel-caption">
            <!-- <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> -->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img3" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <!-- <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p> -->
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-6">
        <svg class="bd-placeholder-img logo1" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
        </svg>

        <h2>DOST Region 9</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6">
        <svg class="bd-placeholder-img logo2" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
        </svg>
        <h2>PHIVOLCS</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
      <!-- <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div> -->
      <!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="container">

      <div class="row align-items-start">
        <div class="col">
          {{ map|safe }}
        </div>
      </div>

      <div class="row row-cols-3 mt-5">
        <div class="col-4">
          <p class="lead">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-geo-alt" viewBox="0 0 16 16">
              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <b>Danger</b>
            <div class="row featurette">
              <div class="col-md-12">
                <div class="row featurette">
                  <div class=" col-sm-3"><p><b>Level 4</b></p></div>
                  <div class="col-sm-9">
                    <ul class="list-unstyled">
                      <small>
                        <li>Ground movement is detected</li>
                      </small>
                    </ul>
                  </div>
                </div>
                <div class="row featurette">
                  <div class=" col-sm-3"><p><b>Level 3</b></p></div>
                  <div class="col-sm-9">
                    <small>
                      <ul class="list-unstyled">
                        <li>Temperature is < 21°C</li>
                        <li>Soil moisture is < 71%</li>
                        <li>No movement is detected</li>
                      </ul>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </p>
        </div>
        <div class="col-4">
          <p class="lead">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="orange" class="bi bi-geo-alt" viewBox="0 0 16 16">
              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <b>Warning</b>
            <div class="row featurette">
              <div class="col-md-12">
                <div class="row featurette">
                  <div class=" col-sm-3"><p><b>Level 2</b></p></div>
                  <div class="col-sm-9">
                    <small>
                      <ul class="list-unstyled">
                        <li>Temperature is < 24 °C and > 20 °C</li>
                        <li>Soil moisture is < 80% and > 71%</li>
                        <li>No movement is detected</li>
                      </ul>
                    </small>
                  </div>
                </div>
                <div class="row featurette">
                  <div class=" col-sm-3"><p><b>Level 1</b></p></div>
                  <div class="col-sm-9">
                    <small>
                      <ul class="list-unstyled">
                        <li>Temperature is < 31°C and > 24°C</li>
                        <li>Soil moisture is < 91% and > 81%</li>
                        <li>No movement is detected</li>
                      </ul>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </p>
        </div>
        <div class="col-4">
          <p class="lead">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-geo-alt" viewBox="0 0 16 16">
              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <b>Caution</b>
            <div class="row featurette">
              <div class="col-md-12">
                <div class="row featurette">
                  <div class=" col-sm-3"><p><b>Level 0</b></p></div>
                  <div class="col-sm-9">
                    <small>
                      <ul class="list-unstyled">
                        <li>Soil moisture is greater than 90%</li>
                        <li>No movement is detected</li>
                      </ul>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </p><br>
        </div>
      </div>

      <div class="row row-cols-3 mt-1">
        <div class="col-4">
          <p class="p-2">The people within the 2km radius is advised to evacuate immediately. The first responders is expected to be in the area.</p>
        </div>
        <div class="col-4">
          <p class="p-2">The people within the 2km radius is advised to be vigilant and advised to evacuate voluntary. The first responders is expected to monitor the area.</p>
        </div>
        <div class="col-4">
          <p class="p-2">The people within the 2km radius is advised to be cautious since they are living in a nearby landslide prone area. The first responders is expected to monitor the area.</p>
        </div>
      </div>
      
    </div>



    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <!-- <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer> -->
</main>

{% endblock %}
